* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    Font-size: 18px;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}

.container {
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
}

.mobileContainer {
    display: none;
}

.sidebars {
    width: 30px;
}

.logo-container,
.nav-links,
.buttonDiv {
    display: flex;
}
.logo-container {
    flex: 1;
}
.logo {
    font-weight: 400;
    margin: 5px;
}

 nav {
    flex: 2;
}

.nav-links {
    justify-content: space-evenly;
    list-style: none;
}

.nav-link a{
    color:  hsl(195, 2%, 63%);
    text-decoration: none;
    font-size: 14px;
}

.buttonDiv {
    flex: 1;
    justify-content:flex-end ;
}

 .button {
    width: 140px;
    height: 35px;
    border-radius: 18px;
    background:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border: white;
    font-weight: 700;
    font-size: 12px;
    color:hsl(0, 0%, 100%);
    cursor: pointer;
}
.presentation {
    display: flex;
    width: 84%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction {
    flex: 1;
}
.intro-text h1 {
    font-size: 50px;
    font-weight: 400;
}
.intro-text p {
    color:  hsl(195, 2%, 63%);
    margin-top: 3%;
}
.inviteButton {
    padding: 50px 0px 0px 0px;
}
.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    height: 700px;
    max-width: 680px;
    top: -4%;
    right: -20%;
}
.cover img {
    height: 100%;
    filter: drop-shadow(0 5px 3px black);
}

.backgroundDiv {
    background-position: left 90%;
}

.background  {
    position: absolute;
    top: -2%;
    right: -18%;
    z-index: -1;
    height: 100%;
}

.information {
    width:84%;
    margin: auto;
    min-height: 20vh;
    align-items: center;
}
.information h2 {
    font-size: 30px;
    font-weight: 400;
}

.information p {
    color:  hsl(195, 2%, 63%);
    margin-top: 2%;
}

.info {
    background-color: hsl(220, 16%, 96%);
    padding: 3% 0;
}

.cardSection {
    background-color: hsl(220, 16%, 96%);
    padding: 0 4%;
}

.cardlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 22px;
    width: 88%;
    padding: 3% 1% 0 1%;
    margin: auto;
}


.cart img {
    width: 70px;
    height: 70px;
}

.cardheader {
    font-size: 24px;
    margin: 8% 0;
    line-height: 28px;
}

.body {
    font-size: 14px;
    line-height: 26px;
    color:  hsl(195, 2%, 63%);
}

.articleTitle h2 {
    font-size: 30px;
    font-weight: 400;
}

.articlelist {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 10px;
    width: 85%;
    margin: auto;

}

.articlelist img {
    width: 270px;
    height: 150px;
    border-radius: 5px 5px 0 0;
}

 .intro {
    padding: 7% 2%;
}

.caption {
    font-weight: 400;
    width: 80%;
    padding: 3% 0 2% 2%;

}

.authorname {
    font-size: 12px;
    color:  hsl(195, 2%, 63%);
}
.infor-article {
    font-size: 14px;
    color:  hsl(195, 2%, 63%);
    width: 78%;
    padding: 2% 2%;
}

.articleTitle {
    width: 85%;
    margin: auto;
    padding:3% 2%;
}

/* footer styles */

footer {
    background: hsl(233, 26%, 24%);
}

.footerList {
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}

.footerbutton p {
    font-size: 12px;
    color:  hsl(233, 8%, 62%);
    line-height: 50px;
    
}
.itemList {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
.itemList ul {
    list-style: none;
    margin-top: 5px;
}
.itemList ul li {
    margin: 5px;
}

.itemList ul li a:hover {
color: hsl(136, 65%, 51%);
}


.itemList ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.iconlist {
    align-self: center;
}

.logo2 img {
    width: 29%;
    padding-left: 4%;
}

.footerbutton {
    align-self: end;
    justify-self: end;
    width: 58%;
}

.Button {
    padding-left: 14%;
}

.icons {
    margin: 12px 0 0 10px ;
}
.icons img {
    margin: 0 0 0 8px;
    width: 4%;
    cursor: pointer;
}

@media only screen and (max-width:375px) {
    .container {
        display: none;
    }
    .mobileContainer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 182px;
        align-items: center;
        padding: 0 2%;

    }
    .logo-container {
        flex: 1;
    }
    .sidebars {
        flex: 1;
        margin: 10% 0;
    }
    .sidebar {
        border-bottom: 2px solid rgb(56, 54, 54);
        margin: inherit;
    }
    .logo-container img {
        width: 110px;
        height: 24px;
    }
    /* article design */
    .presentation {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        min-height: 80vh;
        align-items: center;
    }
    .cover {
        grid-column: 1/1;
        height: 427px;
        max-width: 680px;
        top: 1%;
        right: -2%;
    }
    .cover img {
        height: 90%;
        filter: drop-shadow(0 5px 3px black);
    }
    .background  {
        position: absolute;
        top: -25%;
        right: -66%;
        z-index: -1;
        height: 87%;
    }

    .intro-text h1 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
    .intro-text p {
        color: hsl(195, 2%, 63%);
        margin-top: 5%;
        text-align: center;
        font-size: 14px;
    }
    .inviteButton {
        padding: 40px 0px;
        text-align: center;
    }
    
    .information h2 {
        font-size: 24px;
        font-weight: 400;
    }
    .information p {
        color: hsl(195, 2%, 63%);
        margin-top: 4%;
        font-size: 14px;
    }
    .information {
        width: 84%;
        margin: auto;
        min-height: 20vh;
        align-items: center;
        text-align: center;
        padding: 4%;
    }
    .introduction {
        grid-column: 1/1;
        grid-row: 2/2;
        min-height: 20vh;
        align-items: center;
    }
    .cardlist {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 22px;
        width: 88%;
        padding: 3% 1% 14% 0%;
        margin: auto;
        text-align: center;
    }
    .article {
        text-align: center;
        padding: 10% 0;
    }
    .articleTitle {
        width: 85%;
        margin: auto;
        padding: 5% 2%;
    }
    .intro {
        padding: 7% 9%;
        text-align: left;
    }
    footer {
        background: hsl(233, 26%, 24%);
        text-align: center;
    }
    .itemList {
        display: grid;
        grid-template-columns: 1fr;
    }
    .itemList ul {
        list-style: none;
        /* margin-top: 5px; */
    }

    /* footer  */
    .footerList {
        margin-right: 8%;
        padding: 3%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo2 img {
        width: 32%;
        padding-left: 4%;
        margin: 3% 0;
    }
    .footerbutton {
        align-self: end;
        justify-self: center;
        width: 58%;
        margin: 7%;
        padding-right: 9%;
    }
    .icons img {
        margin: 0 0 0 8px;
        width: 5%;
        cursor: pointer;
    }
    .icons {
        margin: 12px 0px 9px 10px;
    }
    }

    
}
